body {
  display: flex;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{

}

.ticTacSqu {
  /* flex-direction: column; */
  display: inline-block;
  align-items: center;
  height: 60px;
  width: 60px;
  border-style: solid;
  border-color: blue;
  background-color: white;
}
.ticBoard{
  font-size: 0;
}
.row{
  font-size: 0;
}